@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.list {
  margin-top: 15px;
  display: flex;
  gap: 50px;
}
.item {
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #606060 !important;
}
.item:active {
  color: #6c5fbc !important;
}
.item:hover {
  color: #6c5fbc !important;
}
.wrapper__left {
  gap: 80px;
}
.right-list {
  display: flex;
  gap: 18px;
}
.btn1 {
  padding: 17px 26px;
  border: 0px;
  border-radius: 17px;
  background-color: inherit;
}
.btn1:hover {
  background-color: #6c5fbc;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.btn2 {
  padding: 17px 26px;
  border: 0px;
  background-color: #6c5fbc;
  color: white;
  border-radius: 17px;
}
.btn2:hover {
  background-color: white;
  color: white;
}
.btn1-login {
  color: red;
  font-size: 17px;
  font-weight: 700;
  color: #606060 !important;
}
.btn1-login:hover {
  color: white !important;
}
.btn2-login {
  font-size: 17px;
  font-weight: 700;
  color: white !important;
}
.btn2-login:hover {
  color: #606060 !important;
}
hr {
  background-color: #cbcbcb;
}
@media only screen and (max-width: 7px) {
  .list {
    margin-top: 5px;
    gap: 30px;
  }
}
