@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.chicken {
  &__top {
    height: 378px;
    border: 0px;
    border-radius: 0px 40px;
    background-image: url(../../assets/PNG/chicken.png);
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0px 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  &__center {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 30px;
  }
  &__text {
    color: #8e97a6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
@media only screen and (max-width: 768px) {
  .chicken {
    &__top {
      height: 200px;
      border: 0px;
      border-radius: 0px 20px;
      background-image: url(../../assets/PNG/chickenbg2.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 0px 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    &__center {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}
